---
---

@import "{{ site.theme }}";

header {
  display: none;
}

.tables{
 color:white; 
 text-align:center;
 table-layout:fixed;
  padding:10px;
 
}


td tr{
  overflow:hidden;
  text-align:center;
      width: 50%;
  
}
